* {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
    height: 100%
}
body {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    grid-template-rows: auto auto auto;
    background-color: #114444;
    color: white;
    font-family: Georgia, serif;
    line-height: 1.5;
}
header {
    padding-top: 40px;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid white;
}
hr {
    height: 1px;
    border: none;
    background-color: white;
    width: 40vw;
    margin: 40px auto 30px auto;
}
nav {
    grid-row-start: 1;
    grid-row-end: 4;
    background: #330011;
    padding-top: 100px;
    min-height: 100vh;
    height: 100%;
    width: 20vw;
    min-width: 150px;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 1;
}
#menu-button {
    position: fixed;
    background-color: transparent;
    border: none;
    margin: 30px;
    width: 40px;
    height: 40px;
    float: left;
    z-index: 2;
    background-image: url("./media/menu-button-clean.png");
    background-size: 40px;
    background-repeat: none;
}
#menu-button:hover, #menu-button:focus {
    opacity: 0.6;
    outline: none !important;
}
#menu-button:active {
    opacity: 0.4;
}

nav button {
    z-index: inherit;
    display: block;
    position: static;
    padding: 10px 30px;
    margin: 0;
    width: 100%;
    min-height: 60px;
    max-height: auto;
    border: none;
    font-family: Georgia, serif;
    font-size: 1.2rem;
    color: white;
    background-color: #330011;
}
nav button:hover, nav button:focus {
    background-color: #661122;
}
nav button:active {
    background-color: #884433;
}

main {
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 20px 50px;
    height: 100%;
    min-height: 72vh;
}
#back-button {
    position: absolute;
    background-color: transparent;
    border: none;
    margin: 30px;
    width: 50px;
    height: 50px;
    top: 130px;
    left: 5%;
    background-image: url("./back-button-clean.png");
    background-size: 50px;
    background-repeat: none;
}
#back-button:hover, #back-button:focus {
    opacity: 0.6;
}
#back-button:active {
    opacity: 0.4;
}
#page-title {
    margin: 0 auto;
    text-align: center;
}
.content-preview {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 25vw;
    min-width: 400px;
    max-width: -moz-fit-content;
    height: 100%;
    text-align: center;
    font-size: 1rem;
    border: 2px inset;
    background-color: white;
}
.content-previews-frame {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.content-previews-frame p {
    max-width: 30vw;
    min-width: 300px;
    line-height: 1.5;
    margin: 0 auto;
}
.content-previews-frame h2 {
    margin: 0 auto 30px auto;
}
.content-previews div {
    width: fit-content;
    width: -moz-fit-content;
}

.content-preview:hover, .content-preview:focus {
    background-color: #eebb00;
}
.content-preview:active {
    background-color: #eebb00;
    color: white;
}
main p {
    margin: 10px 0;
    font-size: 0.9rem;
}

.preview-img {
    height: auto;
    margin: 0 auto 30px auto;
    width: 100%;
    /*max-width: 30vw;*/
    border: 4px solid #011a1a;
}


.grid-parent {
    display: grid;
}
.col1 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.col2 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.col3 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.row1 {
    grid-row-start: 1;
    grid-row-end: 2
}
.row2 {
    grid-row-start: 2;
    grid-row-end: 3;
}
.row3 {
    grid-row-start: 3;
    grid-row-end: 4;
}
.colspan1-2 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.closed {
    animation: 0.5s close-menu;
}
@keyframes close-menu {
    from {
        transform: translate(0,0);
    }
    to {
        transform: translate(-25vw,0);
    }
}

.shown {
    animation: 0.5s open-menu;
}
@keyframes open-menu {
    from {
        transform: translate(-25vw,0);
    }
    to {
        transform: translate(0,0);
    }
}

.hidden {
    display: none;
}

footer {
    grid-row-start: 3;
    grid-row-end: 4;
    column-gap: 0;
    grid-template-columns: 50% 50%;
    height: auto;
    min-height: 70px;
    width: 100vw;
    border-top: 1px solid white;
    font-size: 0.8rem;
    padding: 30px;
}
footer section {
    height: auto;
    width: 100%;
    text-align: center;
    padding: 0 100px;
}
.footer-colspan {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 40px;
}
footer .col1 {
    border-right: 1px solid white;
}
footer .col2 {
    border-left: 1px solid white;
}


#about-page {
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
    min-width: 200px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#about-image img{
    width: calc(20vw + 40px);
    height: calc(20vw + 40px);
    min-width: 300px;
    min-height: 300px;
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
}

#about-page p {
    font-size: 1rem;
}
#about-description {
    width: 35vw;
    min-width: 300px;
    max-width: 400px;
}
#about-process {
    max-width: 100%;
}
#process-info p {
    width: 100%;
}
#media-links {
    margin: 0 auto;
    padding: 30px;
    width: 100%;
}
#media-links p {
    display: block;
    margin-bottom: 30px;
}
#media-links a {
    margin: 20px auto 0px auto;
    padding: 10px;
    width: auto;
    max-width: 15vw;
    border: 1px solid white;
    color: white;
    font-weight: bold;
}
#twitter-button {
    background-color: #1199ee;
    display: inline;
}
#instagram-button {
    background-color: #882222;
    display: inline;
}
#patreon-button {
    background-color: #cc8800;
    display: block;
}
#email-form {
    padding-top: 30px;
    width: 100%;
}
#email-form form {
    width: 100%;
}
#email-form input {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 5px auto 20px auto;
}
#email-form label {
    display: block;
    margin: 0 auto;
}
#email-form textarea {
    margin: 10px auto 0 auto;
    width: 100%;
    max-width: 300px;
    height: 20vw;
    max-height: 200px;
    overflow: scroll;
    resize: none;
}
#submit-mail-form {
    display: block;
    margin: 0 auto 30px auto;
    padding: 5px;
    border: 1px solid black;
    color: black;
    font-family: Georgia, serif;
    background-color: white;
}

#submit-mail-form:hover, #submit-mail-form:focus {
    background-color: #aaaaaa
}

#submit-mail-form:active {
    background-color: #555555;
    color: white;
}
