* {
    box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  font-size: medium;
  font-family: Georgia;
}
  
div,section {
  margin: 0 auto; 
  padding: 5px;
}

button {
    padding: 8px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px #353535;
    border-style: outset;
    margin: 0;
}

.button, #error-display {
    grid-column-start: 1;
    grid-column-end: 3;
}

#error-display {
    color: #ee1313;
    text-align: center;
}

#content {
    width: 70%;
    min-width: 600px;
    /*height: 80vmax;*/
    margin-bottom: 100px;
}

#form, #results {
  display: inline-block;
  width: 70%;
  padding: 10px;
  border: 1px solid #000000;
  margin: 10px auto;
}

#results {
    height: auto;
    margin-bottom: 50px;
}

input, .form-label, select {
    display: block;
    margin: 5px auto;
}

.form-label {
  margin-top: 10px; 
}

.grid-parent-form {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-parent-results {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto 0px;
}

.column1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.column2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.column3 {
    grid-column-start: 3;
    grid-column-end: 4;
}


#initial-housing, #final-housing {
    width: auto;
    height: auto;
    display: block;
/*    margin: 0 auto;*/
    border: 1px solid black;
}

#initial, #final {
    width: 35px;
    height: 35px;
}

#gradient-housing {
    min-width: 200px;
    width: auto;
    height: auto;
    border: 1px solid black;
    float: top;
    margin: 0;
}

#grid-gradient {
    margin-left: 0;
    margin-right: 0;
    width: auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

#gradient-housing div {
    margin: 0;
    padding: 0; 
    height: 2px;
    width: auto;
    min-width: 200px;
  }

#codes {
    min-width: 125px;
    max-width: 190px;
    margin: 0 auto;
}

.hideResults > div, .hideResults {
    visibility: hidden;
}

.hidden {
    display: none;
}

#footer {
    text-align: center;
    font-size: 10px;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    padding-top: 0;
}

hr {
    border: 0px solid black;
    background: black;
    height: 1px;
    margin-top: 0;
}